#footer{
    background-color: #1b263b;
    width: auto;
}

#contacts, #subjects, #footerImg{
    width: calc(100%/3);
    background-color: #1b263b;
}

#footerImg{
    float: left;
}

#subjects{
    float: left;
}

#contacts{
    float: left;
}

#footerLinks a:link, #footerLinks a:visited{
    color: #e0e1dd;
    text-decoration: none;
}
#footerLinks a:hover{
    color: #e0e1dd;
    text-decoration: underline;
}
#footerLinks a:active{
    color: #778da9;
    text-decoration: underline;
}
