body{
    background-color:#99a8b2;
    color:#0f4c75;
    font-family:"roboto", sans-serif;
    
}
#title-page{
    color:white;
    padding-left: 6px;
    background-color: #1b262c;
    border-bottom: 6px solid #0f4c75;
}
#Sidebar{
    background-color:#0f4c75;
    color:white;
    padding-left: 15px;
    float:right;
    width:10%;
    overflow: auto;
    white-space: nowrap;
}
.main-text{
    float:left;
    padding-left:6px;
}
#Sidebar li{
    margin-left:-15px;
}
#Sidebar a:link{
    color: white;
}
#Sidebar a:visited{
    color: white;
}