body{
    font-family:"roboto",sans-serif;
    background-color:#e0e1dd;
}

#Home img{
    width:100%;
    
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

#Home h1{
    font-size:60px;
    color:white;
    padding-left:5px;
}

#Home h1 span{
    color: #415a77;
}